.task__container{
    width: 100%;
    min-height: 50px;
    margin: 10px auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;

    >button{
        display: block;
        width: 10%;
        height: 50px;

        >svg:hover{
            color: black;
        }
    }

    svg{
        height: 25px;
        width: 25px;
        margin-right: 5%;

        &:hover{
            color:white
        }
    }
}

.taskEdition__Container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    >input{
        width: 60%;
        height: 30px;
        margin-left: 5%;
        font-size: 1.2rem;
    }
}

.taskDisplay__Container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    >h1{
        width: 60%;
        line-height: 50px;
        margin-left: 5%;
        font-size: 1.2rem;
        text-align: center;
        vertical-align: middle;
    }

    >input[type=checkbox]{
        width: 20px;
        height: 20px;
    }
}