#addTaskForm{
    display: flex;
    justify-content: space-evenly;
    margin: 25px auto;

    >input[type=text]{
     
        width: 60%;
        height: 30px;
        margin-left: 5%;
        font-size: 1.2rem;
    }
}